body {
    font-family: Arial;
    margin: 0
}

.header {
    text-align: center;
    margin: 20px
}

.logo {
    height: 40px
}

.container {
    max-width: 1000px;
    margin: auto
}

input,
textarea {
    width: 100%;
    padding: 6px;
    margin-bottom: 10px
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px
}

th,
td {
    border: 1px solid #000;
    padding: 6px
}

button {
    padding: 8px 14px
}

.login-box {
    width: 300px;
    margin: 50px auto;
    text-align: center
}

.two-col {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px
}

.center {
    text-align: center
}

.add-item-row {
    margin-bottom: 12px;
}