
body{font-family:Arial;padding:10px}
.container{max-width:850px;margin:auto}
.logo{display:block;margin:auto;height:45px}
.login-box{width:300px;margin:80px auto;text-align:center;border:1px solid #000;padding:20px}
.login-box input{width:90%;padding:6px;margin:5px}
table{width:100%;border-collapse:collapse;margin-top:10px}
th,td{border:1px solid #000;padding:4px}
textarea,select{width:100%;padding:5px}
button{padding:6px;margin-top:6px}
